{% extends "base.html.twig" %}

{% block body %}
<div class="carte w-75 p-3 text-center mx-auto my-4">

    <div class="form-group">
    <h1>Mon Panier</h1>
 

            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button type="submit" class="btn-form-secondary">Ajouter</button>
            {{ form_end(form) }}
    </div>
</div>
{% endblock %} 