{% extends 'admin/base-admin.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="carteForm">
    <h1 class="titleForm">Ajouter poste accueil</h1>
 
        {{ form_start(accueilTop) }}
        {{ form_widget(accueilTop) }}
            <button type="submit" class="btn btn-success">Ajouter</button>
        {{ form_end(accueilTop) }}
</div>
{% endblock %}