{% extends "base.html.twig" %}
{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="devis">
    <h1 class="titleForm">Mon compte</h1>

    {{ form_start(user) }}
        {{ form_row(user) }}
        <div class"btnForm">
        <button type="submit" class="btn btn-success">Modifier</button>
        </div>
    {{ form_end(user) }}
</div>


{% include 'footer.html.twig' %}

{% endblock %} 