{% extends 'admin/base-admin.html.twig' %}

{% block title %}modifier un devis{% endblock %}

{% block body %}

<div class="carteForm">
    <h1 class="titleForm">Modifier poste accueil</h1>
 

        {{ form_start(devis) }}
        {{ form_widget(devis) }}
            <button type="submit" class="btn btn-success">Modifier</button>
        {{ form_end(deivs) }}
</div>
{% endblock %}