{% extends 'admin/base-admin.html.twig' %}

{% block title %}modifier un pied de page{% endblock %}

{% block body %}
<div class="carteForm">
    <h1 class="titleForm">Modifier le pied de page</h1>
 

        {{ form_start(footer) }}
        {{ form_widget(footer) }}
            <button type="submit" class="btn btn-success">Modifier</button>
        {{ form_end(footer) }}
</div>
{% endblock %}