{% extends 'base.html.twig'%}

{% block title %}Devis{% endblock %}

{% block body %}
<div class="carteForm">
    <h1>Devis</h1>
 

        {{ form_start(devis) }}
        {{ form_widget(devis) }}
            <button type="submit" class="btn btn-secondary">Ajouter</button>
        {{ form_end(devis) }}
</div>
{% include 'footer.html.twig' %}

{% endblock %}