{% extends 'base.html.twig'%}

{% block title %}Devis{% endblock %}

{% block body %}
<div class="devis">
    <h1 class="titleForm">Devis</h1>

        {{ form_start(devis) }}
        {{ form_widget(devis) }}
        <div class="btnForm">
            <button type="submit" class="btn btn-success">Ajouter</button>
        </div>
       {{ form_end(devis) }}
   
</div>
{% include 'footer.html.twig' %}

{% endblock %}