{% extends 'admin/base-admin.html.twig' %}

{% block title %}Crée les Articles!{% endblock %}

{% block body %}
<div class="carteForm">
    <h1 class="titleForm">Crées Articles</h1>
        {{ form_start(articles) }}
        {{ form_widget(articles) }}
            <button type="submit" class="btn btn-success">Ajouter</button>
        {{ form_end(articles) }}
</div>
{% endblock %}