{% extends 'base.html.twig' %}


{% block body %}
<div class="carte-form">
    <h1>Modifier article</h1>
 

            {{ form_start(articles) }}
            {{ form_widget(articles) }}
                <button type="submit" class="btn btn-secondary">Ajouter</button>
            {{ form_end(articles) }}
    </div>

{% endblock %} 