{% extends 'admin/base-admin.html.twig' %}

{% block title %}Crée texte centre Articles!{% endblock %}

{% block body %}
<div class="carteForm">
    <h1 class="titleForm">Crées texte centre Articles</h1>
            {{ form_start(article) }}
            {{ form_widget(article) }}
                <button type="submit" class="btn btn-success">Ajouter</button>
            {{ form_end(article) }}
    </div>
{% endblock %}